section {
	background: #FFDACC;
	width: 600px;
	height: 430px;
}

section, #logo,footer, .image {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

#logo,footer,.image{
	background: #FFFFFF;
}

header {
	width: 600px;
	height: 100px
}

#logo {
	box-shadow: 5px 5px 5px #888888;
}

.image {
	cursor: pointer;
	width: 210px;
	height: 210px;
}

.left {
	float: left;
}

.right {
	float: right;
}

ul{
	list-style-type: none
}

#content {
	text-align: center;
	width: 560px;
}

footer {
	text-align: center;
	width: 560px;
	position: absolute;
	top: 390px;
}
